# Elixir
/_build/
/cover/
/deps/
/doc/
/tmp/
erl_crash.dump
*.ez
alumiini-*.tar

# Rust
alumiini-git/target/
alumiini-git/Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
